{% extends "layout.html.twig" %}

{% block content %}
    <!-- Add your site or application content here -->
    <p>Hello world! This is the skeleton for a Flight app.</p>
    <p>Hello world! This is the skeleton for a Flight app.</p>
    <p>Hello world! This is the skeleton for a Flight app.</p>
    <p>Hello world! This is the skeleton for a Flight app.</p>
    <p>Hello world! This is the skeleton for a Flight app.</p>
    <p>Hello world! This is the skeleton for a Flight app.</p>


    <div
            data-armory-embed="skills"
            data-armory-ids="5507,5508,5510,5507"
    >
    </div>

    <div
            data-armory-embed="skills"
            data-armory-ids="5508,5510,332211,-1,5515"
            data-armory-size="40"
            data-armory-blank-text="This can be replaced with any text!"
    >
    </div>

    <div
            data-armory-embed="skills"
            data-armory-ids="5516,5517,30662,-1,5542"
    >
    </div>
{% endblock %}