{% extends "layout.html.twig" %}

{% block content %}
    <section id="page-treasury">

        <div id="treasury" class="box">
            <div class="box-title">
                Trésors de la guilde
            </div>

            <div class="items">
                {% for treasury in guildTreasury %}
                    <div class="item">
                        <div class="item-img"
                             data-armory-embed="items"
                             data-armory-ids="{{ treasury.item_id }}"
                        >
                        </div>

                        <div class="item-qty">{{ treasury.count }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
{% endblock %}