/* Compiled automatically on page load (only on development environment setted in .htaccess) */@font-face {
  font-family: "EasonProSimilar";
  src: url('../fonts/EasonProSimilar.ttf');
}
@font-face {
  font-family: "CronosProSimilar";
  src: url('../fonts/CronosProSimilar.ttf');
}
body {
  font-family: 'CronosProSimilar', Helvetica, Arial, sans-serif;
}
.box {
  margin-bottom: 15px;
  padding: 10px;
  background-color: #fbfbfb;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.box .box-title {
  margin-bottom: 10px;
  padding: 10px;
  font-family: 'EasonProSimilar', Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #d6230c;
  background-color: #e8e8e8;
  border-radius: 10px;
}
#page-treasury #treasury.box .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#page-treasury #treasury.box .items .item {
  position: relative;
  margin: 5px;
  width: 55px;
  height: 55px;
}
#page-treasury #treasury.box .items .item .item-img {
  width: 55px;
  height: 55px;
}
#page-treasury #treasury.box .items .item .item-qty {
  position: absolute;
  top: 0;
  pointer-events: none;
  color: #fff;
}
