$color-black: #000;
$color-gray-light: #E8E8E8;
$color-gray-lighter: #FBFBFB;
$color-white: #FFF;

$color-primary: #D6230C;

$title-font: 'EasonProSimilar', Helvetica, Arial, sans-serif;
$text-font: 'CronosProSimilar', Helvetica, Arial, sans-serif;